@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body {
  margin: 0;
  font-family: 'Fira Code', monospace,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', monospace, Monaco, Consolas, 'Courier New',
  monospace;
}
